body {
    background-color: rgb(43, 43, 43);
    padding: 0%;
    margin: 0%;
}


/* Header and Nav */

header {
    background-color: rgba(10, 10, 10, 0);
    color: white;
    position: sticky;
    top: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 1;
    transition: all 0.4s;
}

.scrolled {
    background-color: rgba(10, 10, 10, 0.993);
}

header h1 {
    margin-left: 15px;
}

nav {
    margin-right: 15px;
    height: 100px;
    display: flex;
    align-items: center;
}

nav ul {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}


nav ul li {
    display: inline;
    margin-left: 15px;
    height: 100%;
    width: 108px;
    text-align: center;
    display: flex;
    transition: 0.4s;
}

nav ul li:hover {
    background-color: rgb(44, 43, 43);
    border-bottom: solid white 3px;
}

nav ul li a{
    color: white;
    font-size: 23px;
    text-decoration: none;
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: center;
    cursor: pointer;
}

/* Title */

.title {
    background-image: url(/media/background.jpg);
    background-size: cover;
    width: 100%;
    height: 600px;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    z-index: index 0;;
}

.title h1 {
    font-size: 60px;
}

/* Welcome */ 

.Welcome {
    text-align: center;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 500px;
    height: fit-content;
}

.welcome-text {
    background-color: rgba(10, 10, 10, 0.61);
    width: 60%;
    padding: 0px 10px;
    border-radius: 20px;
    margin-top: 20px;
}

.Welcome h2 {
    font-size: 30px;
}

.Welcome p {
    font-size: 20px;
}

.Welcome-image {
    margin-top: 20px;
    width: 30%;
    max-height: 650px;
}

.Welcome-image img {
    width: 100%;
    height: auto;
    max-height: 650px;
    max-width: 520px;
    border-radius: 10px;
}

/*About me */

.about-me {
    color: white;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
}

.about-me div {
    width: 80%;
    background-color: rgba(10, 10, 10, 0.61);
    border-radius: 20px;
    padding: 0px 10px;
}

.about-me h2 {
    font-size: 30px;
}

.about-me p {
    font-size: 20px;
}

/* My Projects */ 

.projects {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projects div {
    margin-top: 20px;
}

.projects-text {
    background-color: rgba(10, 10, 10, 0.61);
    margin-left: 20px;
    padding: 0 10px;
    border-radius: 20px;
    width: 60%;
    min-height: 500px;
    display: flex;
    align-content: center;
    display: grid;
    color: white;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.projects-text h2 {
    font-size: 30px;
}

.projects-text p {
    font-size: 20px;
}

.project-image {
    margin-right: 20px;
    margin-left: 25px;
    display: grid;
    grid-template-areas: 
        'Css HTML'
        'Javascript Github';
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
    column-gap: 50px;
    flex-wrap: wrap;
}



.project-image img {
    height: 300px;
    width: auto;
    transition: transform 0.3s ease;
}

.project-image img:hover {
    transform: scale(1.1);
}

#css {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#HTML {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* Contact */ 

.Contact {
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
}

#Contact-text {
    background-color: rgba(10, 10, 10, 0.61);
    margin-left: 20px;
    
    text-align: center;
    width: 60%;
    padding: 0px 10px 20px 10px;
    border-radius: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#Contact-text h2 {
    font-size: 30px;
}

#Contact-text p {
    font-size: 20px;
}

#Contact-text a {
    color: white;
}

#map {
    margin-right: 20px;
    margin-right: 20px;
    border-radius: 20px;
}

/* footer */ 

footer {
    width: 100%;
    background-color: rgba(10, 10, 10, 0.993);
    height: 80px;
    color: white;
}